div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

h1, p {
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
    text-align:center;
    line-height:100%;
    font-size:300%;
}

.bold {
    font-weight: bold;
}

.content {
    display: none;
}

.show {
    display: block;
}